<nav class="navbar">
  <div class="container">
    <a class="brand" routerLink="/">SmartStock</a>

    <div class="actions">
      <a class="btn" routerLink="/" [class.btn-primary]="isProdutoListRoute()" [class.btn-light]="!isProdutoListRoute()">Produtos</a>
      <a class="btn" routerLink="/create" [class.btn-primary]="isProdutoCreateRoute()" [class.btn-light]="!isProdutoCreateRoute()">Novo Produto</a>
      <a class="btn" routerLink="/users" [class.btn-primary]="isUsersRoute()" [class.btn-light]="!isUsersRoute()">Usuários</a>





      <a *ngIf="!isLoggedIn()" class="btn btn-light" routerLink="/login">Login</a>
      <button *ngIf="isLoggedIn()" class="btn btn-light" type="button" (click)="logout()">
        Sair
      </button>
    </div>


  </div>
</nav>

